.icon-48-staffs {
      background-image: url(../images/l_staffs.png);
      padding-left:60px!important;
}

.icon-48-staff {
      background-image: url(../images/l_staffs.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}