.icon-48-listings {
      background-image: url(../images/l_listings.png);
      padding-left:60px!important;
}

.icon-48-listing {
      background-image: url(../images/l_listings.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}