.icon-48-pastinvoices {
      background-image: url(../images/l_pastinvoices.png);
      padding-left:60px!important;
}

.icon-48-pastinvoice {
      background-image: url(../images/l_pastinvoices.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}