.icon-48-prices {
      background-image: url(../images/l_prices.png);
      padding-left:60px!important;
}

.icon-48-price {
      background-image: url(../images/l_prices.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}